<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Rohan.help</string>
	<key>CFBundleHelpBookName</key>
	<string>net.satzlich.rohan.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.satzlich.rohan.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Rohan Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookIconPath</key>
	<string>shrd/appicon-help.png</string>
	<key>HPDBookIndexPath</key>
	<string>index.html</string>
	<key>HPDBookTitle</key>
	<string>Rohan Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
